.ribbon-carbon {
  display: flex;
  background: var(--accent-secondary-20);

  &-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    padding: var(--space-lg) var(--space-3x);
    color: var(--text-color-inverse);
    gap: var(--space-lg);
    font-size: var(--fs-small);
  }

  &.is-constrained {
    .ribbon-carbon-content {
      max-width: var(--app-width);
    }
  }

  .ribbon-carbon-percent {
    @include font-family-base-heavy;
  }

  .ribbon-carbon-link {
    color: var(--neutral-100);

    &:hover {
      color: var(--neutral-80);
    }
  }

  .ribbon-carbon-icon {
    width: var(--space-lg);

    &.bsds-icon-left {
      margin-right: var(--space-sm);
    }

    &.bsds-icon-right {
      margin-left: var(--space-sm);
    }
  }
}

@media (min-width: $breakpoint-md-min) {
  .ribbon-carbon {
    &-content {
      grid-template-columns: auto 1fr auto;
      gap: var(--space-4x);
      padding: var(--space-lg) var(--space-3x);
    }

    &.is-constrained {
      justify-content: center;
    }
  }

  .ribbon-carbon-percent {
    text-align: center;
  }
}

@media (min-width: $breakpoint-lg-min) {
  .ribbon-carbon {
    &.is-constrained {
      .ribbon-carbon-content {
        padding: var(--space-lg) 0;
      }
    }
  }
}
