// NOTE: changes to class names need to be done in code and contentful (foundations > color/spacing/tokens)

@mixin swatch {
  width: var(--space-15x);
  height: var(--space-6x);
  margin-top: var(--space-3x);
}

@mixin swatch-border($border-properties) {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 0;
    border-bottom: $border-properties;
    content: '';
  }
}

@mixin swatch-inverse($has-offset: true) {
  position: relative;

  &::before {
    position: absolute;
    top: calc(0rem - var(--space-2x));
    bottom: calc(0rem - var(--space-2x));
    left: calc(0rem - var(--space-2x));
    @if $has-offset {
      right: calc(0rem - var(--space-2x));
    } @else {
      right: 0;
    }
    z-index: -1;
    display: block;
    background: var(--neutral-00);
    content: '';
  }
}

@mixin swatch-space {
  /* stylelint-disable-next-line color-no-hex */
  background: rgba(#ff00b4, 0.3); // NOTE: this is a one-off to match sketch swatch
}

.docs-swatch {
  // brand color range
  &-bsc-blue {
    @include swatch;
    background: var(--brand-primary);
  }

  // neutral range
  &-neutral-00 {
    @include swatch;
    background: var(--neutral-00);
  }

  &-neutral-20 {
    @include swatch;
    background: var(--neutral-20);
  }

  &-neutral-40 {
    @include swatch;
    background: var(--neutral-40);
  }

  &-neutral-60 {
    @include swatch;
    background: var(--neutral-60);
  }

  &-neutral-80 {
    @include swatch;
    background: var(--neutral-80);
  }

  &-neutral-95 {
    @include swatch;
    background: var(--neutral-95);
  }

  &-neutral-100 {
    @include swatch;
    border: var(--border-width-xxs) solid var(--border-color-assertive);
    background: var(--neutral-100);
  }

  // action color range
  &-action-primary-10 {
    @include swatch;
    background: var(--action-primary-10);
  }

  &-action-primary-20 {
    @include swatch;
    background: var(--action-primary-20);
  }

  &-action-primary-40 {
    @include swatch;
    background: var(--action-primary-40);
  }

  &-action-primary-60 {
    @include swatch;
    background: var(--action-primary-60);
  }

  &-action-primary-80 {
    @include swatch;
    background: var(--action-primary-80);
  }

  &-action-primary-95 {
    @include swatch;
    background: var(--action-primary-95);
  }

  &-action-primary-97 {
    @include swatch;
    background: var(--action-primary-97);
  }

  // accent color ranges
  &-accent-primary-20 {
    @include swatch;
    background: var(--accent-primary-20);
  }

  &-accent-primary-30 {
    @include swatch;
    background: var(--accent-primary-30);
  }

  &-accent-primary-40 {
    @include swatch;
    background: var(--accent-primary-40);
  }

  &-accent-primary-60 {
    @include swatch;
    background: var(--accent-primary-60);
  }

  &-accent-primary-80 {
    @include swatch;
    background: var(--accent-primary-80);
  }

  &-accent-primary-95 {
    @include swatch;
    background: var(--accent-primary-95);
  }

  &-accent-secondary-20 {
    @include swatch;
    background: var(--accent-secondary-20);
  }

  &-accent-secondary-40 {
    @include swatch;
    background: var(--accent-secondary-40);
  }

  &-accent-secondary-60 {
    @include swatch;
    background: var(--accent-secondary-60);
  }

  &-accent-secondary-80 {
    @include swatch;
    background: var(--accent-secondary-80);
  }

  &-accent-secondary-95 {
    @include swatch;
    background: var(--accent-secondary-95);
  }

  // feedback color ranges
  &-feedback-success-20 {
    @include swatch;
    background: var(--feedback-success-20);
  }

  &-feedback-success-40 {
    @include swatch;
    background: var(--feedback-success-40);
  }

  &-feedback-success-60 {
    @include swatch;
    background: var(--feedback-success-60);
  }

  &-feedback-success-80 {
    @include swatch;
    background: var(--feedback-success-80);
  }

  &-feedback-success-95 {
    @include swatch;
    background: var(--feedback-success-95);
  }

  &-feedback-warning-20 {
    @include swatch;
    background: var(--feedback-warning-20);
  }

  &-feedback-warning-40 {
    @include swatch;
    background: var(--feedback-warning-40);
  }

  &-feedback-warning-60 {
    @include swatch;
    background: var(--feedback-warning-60);
  }

  &-feedback-warning-80 {
    @include swatch;
    background: var(--feedback-warning-80);
  }

  &-feedback-warning-95 {
    @include swatch;
    background: var(--feedback-warning-95);
  }

  &-feedback-error-20 {
    @include swatch;
    background: var(--feedback-error-20);
  }

  &-feedback-error-40 {
    @include swatch;
    background: var(--feedback-error-40);
  }

  &-feedback-error-60 {
    @include swatch;
    background: var(--feedback-error-60);
  }

  &-feedback-error-80 {
    @include swatch;
    background: var(--feedback-error-80);
  }

  &-feedback-error-95 {
    @include swatch;
    background: var(--feedback-error-95);
  }

  // gradients
  &-gradient-brand {
    @include swatch;
    background: var(--gradient-brand);
  }

  &-gradient-primary {
    @include swatch;
    background: var(--gradient-primary);
  }

  &-gradient-secondary {
    @include swatch;
    background: var(--gradient-secondary);
  }

  &-gradient-accent {
    @include swatch;
    background: var(--gradient-accent);
  }

  &-gradient-assertive {
    @include swatch;
    background: var(--gradient-assertive);
  }

  &-gradient-subtle {
    @include swatch;
    background: var(--gradient-subtle);
  }

  // shadows
  &-shadow-primary {
    @include swatch;
    margin-left: var(--space-2x);
    box-shadow: var(--box-shadow-primary);
  }

  &-shadow-secondary {
    @include swatch;
    margin-left: var(--space-2x);
    box-shadow: var(--box-shadow-secondary);
  }

  &-shadow-tertiary {
    @include swatch;
    margin-left: var(--space-2x);
    box-shadow: var(--box-shadow-tertiary);
  }

  // borders
  &-border-gradient-accent {
    @include swatch;
    @include border-gradient-accent;
  }

  &-border-color-action {
    @include swatch;
    @include swatch-border(var(--border-width-xs) solid var(--border-color-action));
  }

  &-border-color-assertive {
    @include swatch;
    @include swatch-border(var(--border-width-xs) solid var(--border-color-assertive));
  }

  &-border-color-error {
    @include swatch;
    @include swatch-border(var(--border-width-xs) solid var(--border-color-error));
  }

  &-border-color-inverse {
    @include swatch;
    @include swatch-border(var(--border-width-xs) solid var(--border-color-inverse));
    @include swatch-inverse(false);
  }

  &-border-color-subtle {
    @include swatch;
    @include swatch-border(var(--border-width-xs) solid var(--border-color-subtle));
  }

  &-border-color-success {
    @include swatch;
    @include swatch-border(var(--border-width-xs) solid var(--border-color-success));
  }

  &-border-color-warning {
    @include swatch;
    @include swatch-border(var(--border-width-xs) solid var(--border-color-warning));
  }

  &-border-radius-circle {
    @include swatch;
    width: var(--space-6x);
    height: var(--space-6x);
    border-radius: var(--border-radius-circle);
    border: var(--border-width-xs) solid var(--border-color-assertive);
  }

  &-border-radius-sm {
    @include swatch;
    border-radius: var(--border-radius-sm);
    border: var(--border-width-xs) solid var(--border-color-assertive);
  }

  &-border-width-xxs {
    @include swatch;
    @include swatch-border(var(--border-width-xxs) solid var(--border-color-assertive));
  }

  &-border-width-xs {
    @include swatch;
    @include swatch-border(var(--border-width-xs) solid var(--border-color-assertive));
  }

  &-border-width-sm {
    @include swatch;
    @include swatch-border(var(--border-width-sm) solid var(--border-color-assertive));
  }

  // backgrounds
  &-background-action {
    @include swatch;
    background: var(--action-primary-95);
  }

  // Size

  &-size-icon-decorative {
    img {
      display: block;
      width: var(--size-icon-decorative);
      margin: auto;
    }
  }

  &-letter-spacing-increase {
    letter-spacing: var(--letter-spacing-increase);
  }

  // Focus

  &-focus-default {
    @include swatch;
    @include focus-default;
    margin-left: var(--space-2x);
    border: var(--border-width-xxs) solid var(--border-color-assertive);
  }

  &-focus-default-inset {
    @include swatch;
    @include focus-default-inset;
    margin-left: var(--space-2x);
    border: var(--border-width-xxs) solid var(--border-color-assertive);
  }

  &-focus-inverse {
    @include swatch;
    @include focus-inverse;
    @include swatch-inverse;
    margin-left: var(--space-2x);
    border: var(--border-width-xxs) solid var(--border-color-inverse);
  }

  &-focus-inverse-inset {
    @include swatch;
    @include focus-inverse-inset;
    @include swatch-inverse;
    margin-left: var(--space-2x);
    border: var(--border-width-xxs) solid var(--border-color-inverse);
  }

  &-focus-readonly {
    @include swatch;
    @include focus-readonly;
    margin-left: var(--space-2x);
    border: var(--border-width-xxs) solid var(--border-color-assertive);
  }

  &-focus-error {
    @include swatch;
    @include focus-error;
    margin-left: var(--space-2x);
    border: var(--border-width-xxs) solid var(--border-color-assertive);
  }

  // Gradients

  &-animated-gradient-brand {
    @include swatch;
    @include animated-gradient-brand;
    position: relative;
  }

  &-animated-gradient-primary {
    @include swatch;
    @include animated-gradient-primary;
  }

  &-animated-gradient-secondary {
    @include swatch;
    @include animated-gradient-secondary;
  }

  &-animated-gradient-subtle {
    @include swatch;
    @include animated-gradient-subtle;
  }

  &-decorative-bar {
    position: relative;

    &::after {
      background: var(--neutral-00);
      content: '';
      @include decorative-bar;
    }
  }

  &-space-xxs,
  &-space-negative-xxs {
    @include swatch-space;
    width: var(--space-xxs);
    height: var(--space-xxs);
  }

  &-space-xs,
  &-space-negative-xs {
    @include swatch-space;
    width: var(--space-xs);
    height: var(--space-xs);
  }

  &-space-sm {
    @include swatch-space;
    width: var(--space-sm);
    height: var(--space-sm);
  }

  &-space-md {
    @include swatch-space;
    width: var(--space-md);
    height: var(--space-md);
  }

  &-space-lg {
    @include swatch-space;
    width: var(--space-lg);
    height: var(--space-lg);
  }

  &-space-2x {
    @include swatch-space;
    width: var(--space-2x);
    height: var(--space-2x);
  }

  &-space-3x {
    @include swatch-space;
    width: var(--space-3x);
    height: var(--space-3x);
  }

  &-space-4x {
    @include swatch-space;
    width: var(--space-4x);
    height: var(--space-4x);
  }

  &-space-6x {
    @include swatch-space;
    width: var(--space-6x);
    height: var(--space-6x);
  }

  &-space-8x {
    @include swatch-space;
    width: var(--space-8x);
    height: var(--space-8x);
  }

  &-space-12x {
    @include swatch-space;
    width: var(--space-12x);
    height: var(--space-12x);
  }

  &-space-15x {
    @include swatch-space;
    width: var(--space-15x);
    height: var(--space-15x);
  }
}
