.docs-table-sortable {
  .bsds-button-subtle {
    padding: 0;
    color: var(--text-color-default);

    &:hover {
      background: transparent;
      color: var(--text-color-default);
      text-decoration: underline;
    }
  }

  th {
    font-size: var(--ffs-body-assertive);
  }
}

.docs-metrics-tile-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-6x);
  margin-top: var(--space-4x);
}

.docs-metrics-tile {
  display: flex;
  flex-direction: column;
  border: var(--border-width-xxs) solid var(--border-color-subtle);
  padding: var(--space-3x);
  text-align: center;
}

.docs-metrics-tile-description {
  margin-bottom: auto; // This pushes flex items below description to bottom of tile
  font-size: var(--fs-body-subtle);
}

.docs-metrics-tile-value {
  font-size: var(--fs-body-assertive);
}

.docs-metrics-tile-change {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}

.docs-spark-chart {
  display: block;
  height: auto;
  max-width: 100%;
  margin: var(--space-3x) auto 0;

  .line {
    stroke: var(--action-primary-40);
  }
}

@media (min-width: $breakpoint-md-min) {
  .docs-metrics-tile-grid {
    grid-template-columns: 1fr 1fr;
  }
}
