.docs-team-member-card {
  display: flex;
  align-items: center;
  border-top: var(--border-width-xxs) solid var(--border-color-subtle);
  padding: var(--space-2x) 0;

  &:first-of-type {
    margin-top: var(--space-4x);
  }

  &:last-of-type {
    border-bottom: var(--border-width-xxs) solid var(--border-color-subtle);
  }

  img {
    width: var(--size-icon-decorative);
    height: var(--size-icon-decorative);
    margin: 0;
    border-radius: var(--border-radius-circle);
  }

  .docs-team-member {
    margin-left: var(--space-4x);
  }

  .docs-team-member-name {
    margin: 0;
    @include font-family-base-heavy;
  }

  .docs-team-member-title {
    margin: 0;
  }
}
