.docs-wire-header,
.docs-wire-main {
  padding: 0 var(--space-2x) var(--space-2x);
  text-align: center;
}

.docs-wire-header {
  border-bottom: var(--border-width-xxs) solid var(--border-color-subtle);
}

.docs-wire-main {
  height: 100vh;
  background: var(--neutral-95);
}

.docs-wire-card {
  width: 100%;
  padding: var(--space-6x) var(--space-lg);
  background: var(--neutral-95);
  text-align: center;
}
