.docs-home {
  position: relative;
  display: grid;
  flex: 1;

  .docs-container {
    display: flex;
    justify-content: center;
    padding: var(--space-2x) var(--space-4x) var(--space-8x);

    &.bg-gradient-assertive {
      background: var(--gradient-assertive);

      .docs-page-title,
      .docs-page-description {
        color: var(--text-color-inverse);
      }
    }

    &.bg-action {
      background: var(--action-primary-97);
    }

    .is-constrained {
      width: var(--app-width);
    }

    .docs-page-title {
      margin-top: var(--space-6x);
    }

    .docs-page-description {
      max-width: 60ch;
    }
  }

  + .docs-footer {
    margin-top: var(--space-4x);
  }
}
